VERSION=20250720
RELEASE=6.1.0
#DESTDIR=/C/minc-release
GCCVER=4.8.1
MINGW=/C/MinGW
SRCDIR=/D/openbsd-master
ARCH=i386

# locations for BSD native binaries

PREFIX=/opt/minc
BINDIR=${PREFIX}/bin
LIBDIR=${PREFIX}/lib
INCDIR=${PREFIX}/include
LIBXDIR=${PREFIX}/libexec
GCCLIB=${BINDIR}/libisl-15.dll
GCCLIB+=${BINDIR}/libmingwex-0.dll

# locations for GNU cross-compiler

_PREFIX=/usr/i686-openbsd-pe
_LIBDIR=${_PREFIX}/lib
_INCDIR=${_PREFIX}/include

# native location of packages (release.sh)

PKGROOT=/mnt/d/source
