VERSION=20240915
BUILD=$(shell date +%s)
RELEASE=6.1.0
DESTDIR=/DRIVE/minc-release
GCCVER=4.8.1
MINGW=/C/MinGW
SRCDIR=/D/openbsd-master
INSTALL=install
ARCH=i386

.SUFFIXES:
.DEFAULT:

# PIC default: 0x10000000 (library space)
# PIE default: 0x00400000 (program space)

IMGBASE_LIBD=		0x0FF80000 # (500K)
IMGBASE_LIBPOSIX=	0x0FF00000 # (500K)
IMGBASE_LIBC=		0x0FE00000
IMGBASE_LIBSOCKET=	0x0FD00000
IMGBASE_LIBEDIT=	0x0FC00000
#LIBUTIL_IMGBASE=	0x0FB00000
#LIBZ_IMGBASE=		0x0FA00000
IMGBASE_LIBCURL=	0x0F900000
LIBPERL_IMGBASE=	0x0F600000 # (3MB)

PREFIX=/usr
BINDIR=/bin
ETCDIR=/etc
SBINDIR=/sbin
UBINDIR=${PREFIX}/bin
USBINDIR=${PREFIX}/sbin
LIBDIR=${PREFIX}/lib
INCDIR=${PREFIX}/include
SHAREDIR=${PREFIX}/share
MANDIR=${SHAREDIR}/man

# In GCC 6.3.0, -ffixed-ebx crashes compilation

CFLAGS= -Wimplicit-function-declaration -Werror -ffreestanding -Wl,--disable-auto-import
LDFLAGS= --disable-auto-import
GCCLIB= ${BINDIR}/libisl-15.dll ${BINDIR}/libmingwex-0.dll
