VERSION=20211209
BUILD=$(shell date +%s)
DESTDIR=/C/MinC
GCCVER=4.8.1
MINGW=/C/MinGW
SRCDIR=/D/openbsd-master

.SUFFIXES:
.DEFAULT:

# PIC default: 0x10000000 (lib space)
# PIE default: 0x00400000 (program space)

IMGBASE_LIBPOSIX=	267386880 # 0x0FF00000
IMGBASE_LIBC=		266338304 # 0x0FE00000
IMGBASE_LIBSOCKET=	265289728 # 0x0FD00000
IMGBASE_LIBEDIT=	264241152 # 0x0FC00000
IMGBASE_LIBD=		263192576 # 0x0FB00000
#LIBZ_IMGBASE=		262144000 # 0x0FA00000
IMGBASE_LIBCURL=	261095424 # 0x0F900000
LIBPERL_IMGBASE=	257949696 # 0x0F600000 (3MB)

PREFIX=/usr
BINDIR=/bin
LIBDIR=${PREFIX}/lib
INCDIR=${PREFIX}/include
SHDIR=${PREFIX}/share
MANDIR=${SHDIR}/man
