#!/bin/sh

FSTAB=/etc/fstab
MINGW=C:/MinGW
DESTDIR=C:/MinC

if ! [ -d ${MINGW} ]; then
	echo "${MINGW}: No such directory"
elif [ "$1" == "mingw" ]; then
	echo "${MINGW} /mingw" >$FSTAB
elif ! [ -d ${DESTDIR} ]; then
	echo "${DESTDIR}: No such directory"
elif [ "$1" == "minc" ]; then
	echo "${DESTDIR}/usr/lib /mingw/bin" >$FSTAB
else
	/bin/cat $FSTAB
fi
