#!/bin/sh

FSTAB=/etc/fstab

if [[ "$1" == minc ]]; then
	echo "D:/libminc-0.6.1/mingw/bin /usr/local/bin" >$FSTAB
	echo "C:/MinC/usr/lib /mingw/bin" >>$FSTAB
elif [[ "$1" == mingw ]]; then
	echo "C:/MinGW /mingw" >$FSTAB
else
	/bin/cat $FSTAB
fi
