#!/bin/sh

MINGW=C:/MinGW
OPTDIR=${MINGW}/msys/1.0/opt
FSTAB=/etc/fstab

if ! [ -d ${MINGW} ]; then
	echo "${MINGW}: No such directory"
elif [ "$1" == "mingw" ]; then
	echo "${MINGW} /mingw" >$FSTAB
elif ! [ -d ${OPTDIR} ]; then
	echo "${OPTDIR}: No such directory"
elif [ "$1" == "minc" ]; then
	echo "${OPTDIR} /mingw" >$FSTAB
else
	/bin/cat $FSTAB
fi
