1 VERSIONINFO
FILEVERSION 0,6,1,0
PRODUCTVERSION 0,6,1,0
FILEOS 0x4
FILETYPE 0x1
{
	BLOCK "StringFileInfo"
	{
		BLOCK "041304E4"
		{
			VALUE "CompanyName", "BOLAND Automatisering\000"
			VALUE "FileDescription", "MinC Unix Emulator\000"
			VALUE "FileVersion", RELEASE "." VERSION
			VALUE "InternalName", "minc.exe\000"
			VALUE "LegalCopyright", "2016 BOLAND Automatisering\000"
			VALUE "LegalTrademarks", "Unix®\000"
			VALUE "OriginalFilename", "minc.exe\000"
			VALUE "ProductName", "MinC\000"
			VALUE "ProductVersion", RELEASE
			VALUE "Comments", "\000"
			VALUE "License", "Revised BSD License\000"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0413, 0x04E4
	}
}
MAINICON ICON "console.ico"
//ID_MANIFEST RT_MANIFEST "minc.exe.manifest"
